<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dzombak.writerdeckproc</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/wdproc</string>
		<string>-dry-run=false</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/ME/opt/log/launchd/writerdeckproc.err.txt</string>
	<key>StandardOutPath</key>
	<string>/Users/ME/opt/log/launchd/writereckproc.out.txt</string>
	<key>StartInterval</key>
	<integer>300</integer>
	<key>WorkingDirectory</key>
	<string>/Users/ME/.config/wdproc.yaml</string>
</dict>
</plist>
